@model Figlut.Spread.Web.Site.Models.FilterModel<OrganizationModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Spread.Web.Site.Configuration;
@using Figlut.Spread.Web.Site;
@using Figlut.Spread.Web.Site.Models;

@{
    ViewBag.Title = "Organizations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-home-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">Organizations</a>
        </li>
    </ul>
</nav>
<hr />
@using (Ajax.BeginForm("Index", "Organization", new AjaxOptions{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridPartial",
    HttpMethod = "POST"},
    new { @id = "frmDetails" } ))
{
    <div id="gridPartial">
        @{
            Html.RenderPartial("_OrganizationGrid", Model);
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).keypress(function (event) {
            if (event.which == 13) {
                //$("#btnSearch").click();
                postOrganizations();
            }
        });
        @*loadDialog("#divConfirmationDialog", "#dlgConfirmation", "ConfirmDeleteDialog", "SmsSent", 'identifier', '@smsSent.SmsSentLogId.ToString()');*@
        loadDialog("#divConfirmationDialog", "#dlgConfirmation", "ConfirmDeleteDialog", "Organization", 'identifier', '@Guid.Empty');
        loadDialog("#divEditOrganization", "#dlgEditOrganization", "EditDialog", "Organization", 'organizationId', '@null');
    });
</script>