BACKUP DATABASE [FiglutSpread] TO  DISK = N'D:\FTP\FiglutSpread\Backups\FiglutSpread.bak' WITH  COPY_ONLY, NOFORMAT, INIT,  NAME = N'FiglutSpread-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO
declare @backupSetId as int
select @backupSetId = position from msdb..backupset where database_name=N'FiglutSpread' and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=N'FiglutSpread' )
if @backupSetId is null begin raiserror(N'Verify failed. Backup information for database ''FiglutSpread'' not found.', 16, 1) end
RESTORE VERIFYONLY FROM  DISK = N'D:\FTP\FiglutSpread\Backups\FiglutSpread.bak' WITH  FILE = @backupSetId,  NOUNLOAD,  NOREWIND
GO
