@model Figlut.Repeat.Web.Site.Models.HomePageImageGalleryModel

@using Figlut.Repeat.Web.Site.Extensions;
@using Figlut.Repeat.Web.Site.Configuration;
@using Figlut.Repeat.ORM.Helpers;

@{
    ViewBag.Title = "Repeat by Figlut";
}

@section featured {
}
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-home-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">Home</a>
            <a href="#use-cases" style="float:left">Use Cases</a>
        </li>
    </ul>
</nav>
<hr />
@*<i></i>*@
@*<h4 class="centerInformation">SMS Solution Provider</h4>*@
<div class="mainimagebanner">
    @*<img src="~/Images/Repeat/StockPhotos/PeopleReceivingText/MainImage.jpg" style="width:60%; text-align:center; border-radius:1%;" />*@
    <img src="~/Images/Repeat/StockPhotos/PeopleReceivingText/MainImage.jpg" style="width:60%; text-align:center; border-radius:1%;" />
    @*<img src="~/Images/Repeat/StockPhotos/PeopleReceivingText-BlackWhite/black-and-white-boy-man-48017.jpg" style="width:60%; text-align:center; border-radius:1%;" />*@
</div>
<div class="phonebanner">
    <div style="width:22%; position:absolute; bottom:410%; left:56%; color:#e2f4fc; font-size:1em;">
@*        <b style="font-size:1.5em">FiGLUT ...</b>
        <br />
        <br />*@
        <i><b>Manage SUBSCRIBERS & 
        <br />
        <br />
        <i style="color:#3195c2">schedule automatic <b>REPEAT NOTIFICATIONS</b></i>
        <br />
        <br />
        <i style="color:#287ca2">for your <b>CUSTOMERS, STAFF</b> or <b>YOURSELF</b></i>
        <br />
@*        <br />
        <br />
        <i style="color:#3195c2">We help small and medium sized businesses and organizations to promote themselves and strengthen their customer retention.</i>*@
    </div>
    @*<img src="~/Images/Figlut/BlueCoffee/iPhoneTransparentTextCut.png" style="width:12%; position:absolute; bottom:140%; left:76%;" />*@
    <img src="~/Images/Repeat/Mockups/sms-example-small-cut-out.png" style="width:12%; position:absolute; bottom:140%; left:74%;" />
    <img src="~/Images/Repeat/Mockups/repeat-schedules-example-cut-out.png" style="width:30%; position:absolute; bottom:140%; left:5%;" />

    @*<img src="~/Images/WhyItWorksGallery/01-WhyItWorks.jpg" style="width:14%; position:absolute; bottom:260%; left:11%;" />
    <img src="~/Images/WhyItWorksGallery/02-WhyItWorks.jpg" style="width:14%; position:absolute; top:-140%; left:3%;" />
    <img src="~/Images/WhyItWorksGallery/03-WhyItWorks.jpg" style="width:14%; position:absolute; bottom:260%; left:30%;" />
    <img src="~/Images/WhyItWorksGallery/04-WhyItWorks.jpg" style="width:14%; position:absolute; top:-140%; left:21%;" />
    <img src="~/Images/WhyItWorksGallery/05-WhyItWorks.jpg" style="width:14%; position:absolute; top:-140%; left:57%;" />
    <img src="~/Images/WhyItWorksGallery/06-WhyItWorks.jpg" style="width:14%; position:absolute; bottom:260%; left:49%;" />
    <img src="~/Images/WhyItWorksGallery/07-WhyItWorks.jpg" style="width:14%; position:absolute; top:-140%; left:39%;" />*@
</div>

@*
    http://forums.asp.net/t/1983642.aspx?Customized+horizontal+scrolling+content+slider
    https://www.google.co.za/?gws_rd=ssl#q=Horizontal+scroll+gallery+in+mVC+4

    http://www.istockphoto.com/vector/abstract-background-gm480416462-68972627
*@
@{
    string figlutPhoneNumber = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.FiglutPhoneNumber].SettingValue;
    string figlutSupportEmailAddress = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.FiglutSupportEmailAddress].SettingValue;
    string figlutMarketingEmailAddress = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.FiglutMarketingEmailAddress].SettingValue;
    string figlutGeneralEmailAddress = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.FiglutGeneralEmailAddress].SettingValue;
    string figlutAddress = RepeatWebApp.Instance.GlobalSettings[GlobalSettingName.FiglutAddress].SettingValue;
}
@*<hr />
<br />
<div class="description">
    <a href="@Url.Action("Register", "User")" style="background-color:transparent">
        Register
    </a> 
    <i>for <b>FREE</b> to get your own unique organization keyword e.g. #BLUECOFFEE. No setup fees, no commitment, no risk. You have nothing to lose by giving it a try.</i>
</div>
<br />*@

@*Use Cases*@
<a id="use-cases"></a>
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-user-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
            <a href="#back-to-top" style="float:left">Back to top</a>
            <a href="#use-cases" style="float:right">Use Cases</a>
        </li>
    </ul>
</nav>
<hr />
<div class="description">
    <i>
        The Repeat system can be used by any business, organzation or individual requiring to manage subscribers, send out repeat notifications based on a schedule, or simply
        broadcast notifications to all their subscribers. Notifications can also be used to interact with customers to confirm bookings, send out reminders, receive feedback or 
        for advertising purposes. Below are a few examples of the kind of businesses/organizations that could make use of the Repeat system.
    </i>
</div>
<br />
<h3 class="description-title">Use Cases</h3>
<!--Use Cases List-->
<table>
    <!--Use Cases: Row 1-->
    <tr>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Pharmacies</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Dentists</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Doctors & Veterinaries</b>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/medicine.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/dentist.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/veterinarian.png" style="width:50%; height:50%" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="description">
                <br />
                <b>Chronic medication notifications</b>
                <p style="font-size:12px">
                    Pharmacies can create and manage repeat schedules and subscriptions for customers requiring their chronic medications to be replenished every month.
                    <br />
                    <br />
                    For example a customer may require a box of 30 pills every 30 days. The Pharmacist can create a schedule to prepare the medication
                    and notify the customer that the medication is ready for collection or delivery on the repeat day. The Repeat software keeps track of the repeat days for each 
                    customer and emails the pharmacist on the day reminding him/her of all the customers that are up for repeats on the given day.
                    <br />
                    <br />
                    e.g. '<i>Good morning. Yet another month has flown by. Your chronic medication will be delivered in the next 24 hours. Friendly Pharmacy.</i>'
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Regular teeth cleaning reminders</b>
                <p style="font-size:12px">
                    Dentists can create and manage repeat schedules for patients to come back for their regular teeth cleaning.
                    <br />
                    <br />
                    For example a patient may require their teeth to be cleaned every 6 months. Dentists can create a repeat schedule for the patient, which will not only
                    send out the notification to the patient, but also an email notification to the dentist reminding him/her of which patients are scheduled for
                    teeth cleaning on a given day.
                    <br />
                    <br />
                    e.g. '<i>Good afternoon Marry. It's time to come back to Dr. Smith for your teeth cleaning. Reply 'yes' to confirm for tomorrow.</i>'
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Vaccinations, checkups, flea pills, food reminders</b>
                <p style="font-size:12px">
                    Both doctors and veterinaries can create and manage repeat schedules for patients that should come in for vaccinations. Veterinaries
                    can put pets on repeat schedules for chronic medications, flea pills and food replenishments.
                    <br />
                    <br />
                    <b>For example, a veterinary can create a repeat schedule for a pet to receive their yearly vaccination. The veterinary will receive a daily email
                    notification reminding them of which animals are up for their yearly vaccination, while the pet owner will receive a notification on the scheduled day too.</b>
                    <br />
                    <br />
                    e.g. '<i>Morning John. Please remember that Max is due for his yearly vaccination and checkup.</i>'
                </p>
            </div>
        </td>
    </tr>

    <!--Use Cases: Row 2-->
    <tr>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Personal Trainer</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Barbers & Salons</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Plant Nurseries</b>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/athlete-2.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/hairdresser.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/sprout.png" style="width:50%; height:50%" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="description">
                <b>Workout reminders</b>
                <p style="font-size:12px">
                    Personal trainers can create repeat schedules for their clients' workout days. Reminder notifications will be sent out to the 
                    customers on the day as well an email notification will be sent at the beginning of each day to the personal trainer as a 
                    as a reminder of which customers they have sessions with on the given day.
                    <br />
                    <br />
                    e.g. '<i>Hi Marry. It's Sarah here, your personal trainer. Don't forget it's training day today! See you at the gym at 6pm.</i>'
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <br />
                <b>Haircut reminders</b>
                <p style="font-size:12px">
                    Barber shops and salons can create repeat schedules and subscriptions for their customers in order to remind them that it's time
                    for another haircut. Along with the customer receiving a notification on the day, the barber/hairdresser will receive daily
                    email notifications listing the customers that are up for new haircuts.
                    <br />
                    <br />
                    For example, depending on how quickly a customer's hair grows, a barber could advise a customer that they should come in for
                    a haircut every 40 days. A repeat schedule can be created by the barber which will notify the customer every 40 days as well
                    as a a daily email reminder to the barber of which customers are due for a haircut on the day.
                    <br />
                    <br />
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Plant watering reminders</b>
                <p style="font-size:12px">
                    Plant nurseries can create and manage repeat schedules for either their staff and/or their customers in order to remind them of when specific plants
                    need to be watered.
                    <br />
                    <br />
                    For example the nursery staff/managers can receive email notifications each day of which plants need to be watered. Notifications can
                    also be sent to customers that have purchased plants as reminders that the plant needs to be watered on the day. Furthermore, schedules
                    can also be created for reminders on when fertilizers and other chemicals should be purchased for ongoing care of the plants.
                    <br />
                    <br />
                </p>
            </div>
        </td>
    </tr>
</table>
<br />

@*Features*@
<a id="features"></a>
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-ok-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="#use-cases" style="float:left">Use Cases</a>
            <a href="#features" style="float:right">Features</a>
        </li>
    </ul>
</nav>
<hr />
<div class="description">
    <i>
        We offer the following features to help you manage your <b>customers, staff or your own schedule.</b>
    </i>
</div>
<br />
<h3 class="description-title">Features</h3>
<!--Features List-->
<table>
    <!--Features: Row 1-->
    <tr>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Receive Messages</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Manage Subscriptions</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Broadcast Messages</b>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/receive-message.png" style="width:50%; height:50%"/>
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/subscribe2.png" style="width:50%; height:50%"/>
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/send-message.png" style="width:50%; height:50%"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>            
            <div class="description">
                <br />
                <b>Receive messages from your subscribers/customers</b>
                <p style="font-size:12px">
                    Your customers (or organization members) can send you text messages (SMS) which you can be viewed and managed on the Repeat website.
                    Received text messages messages are also forwarded to your email organization's email address.
                    <br />
                    <br />
                    A dedicated phone number (short code or VLN) can be provided to you. Alternatively, as a cheaper option, a shared phone number can be used requiring your organization
                    identifier prefixed with a hashtag to be included in text messages being sent by the subscribers
                    <br />
                    <br />
                    e.g. '<i>Hi <b>#PHARMACY</b>, please do not deliver my medication today as I am currently out of town.</i>'
                    <br />
                    <br />
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Subscription management</b>
                <p style="font-size:12px">
                    When receiving an SMS, the person's <b>cell phone number automatically gets saved as a subscriber to your organization</b>
                    and can be mananged from the Repeat website.
                    <br />
                    <br />
                    People can <b><i>optionally</i></b> include their name in the SMS by prefixing ith an star character.
                    <br />
                    e.g. <i>Hi <b>#Pharmacy</b>. I'd like to subscribe to notifcations from you. Regards, <b>*John</b>.</i>
                    <br />
                    <br />
                    <b>Subscribers manage their own subscriptions</b>
                    by using the Repeat website to search for and manage subscriptions linked to their cell phone number.
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Send notifications to your subscribers</b>
                <p style="font-size:12px">
                    Once you have sufficient subscribers, purchase some SMS credits and notify them of your promotions, product updates, voucher codes, events etc.
                    <br />
                    <br />
                    Broadcasting messages to your subscribers is as simple as typing up your messages on the Repeat website and clicking the broadcast button.
                    The Repeat system will then group the messages into a campaign and send the messages out in the background i.e. without you having to 
                    wait for all the messages to be sent.
                    <br />
                    <br />
                    Delivery reports are also received and displayed for every message sent out by the Repeat system. You'll be able to see which messages were delivered to
                    your subscribers and which were not i.e. if a subscriber's cell phone is switched off, the text message will only be delivered when their phone is switched back on.
                </p>
            </div>
        </td>
    </tr>

    <!--Features: Row 2-->
    <tr>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Message Templates</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Repeat Schedules</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Configure Work Days</b>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/template.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/calendar-5.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/plan.png" style="width:50%; height:50%" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="description">
                <b>Create & Manage Message Templates</b>
                <p style="font-size:12px">
                    Message templates allow you to save time without having to type up the message every time when composing a notification or creating a repeat schedule.
                    <br />
                    <br />
                    You can simply select a template message whenever broadcasting a notification to all your subscribers or when creating a repeat schedule for an individual subscriber.
                    <br />
                    <br />
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <br />
                <b>Generate & manage repeat schedules for your subscribers</b>
                <p style="font-size:12px">
                    Schedules for repeat notifications can be generated by setting a start and end date, setting the days interval, the time at which
                    the notifcation should be sent out and the message to be sent.
                    <br />
                    <br />
                    For example: a schedule can be created to send John a notification every 5 days at 18:00 for the next 90 days.
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Configure Work Days</b>
                <p style="font-size:12px">
                    Repeat schedules can be generated by taking into account and excluding public holidays and other non-working days from the schedule i.e. if a repeat date
                    falls on a non-working day (weekend or public holiday), its notification date can be rolled back to a working day. This feature
                    can be set per repeat schedule and/or it can be set as your default setting for your organization.
                    <br />
                    <br />
                    For example, suppose a customer requires their pharmacy to deliver their medication to them every 30 days: if a repeat date happens to fall on a date on 
                    which the pharmacy does not perform deliveries, such as a Sunday, the notification date can then be rolled back to a Friday.
                    <br />
                    <br />
                    <br />
                    <br />
                </p>
            </div>
        </td>
    </tr>

    <!--Features: Row 3-->
    <tr>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Daily Repeat List</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Automatic Notifications</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Reports</b>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/paper-list.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/robot-2.png" style="width:50%; height:50%" />
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/report-diagram.png" style="width:50%; height:50%" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="description">
                <b>View and receive daily repeat entries</b>
                <p style="font-size:12px">
                    You will receive daily emails listing the repeat entries for the day. This will allow you to plan out your day in terms of which 
                    subscribers (customers/staff members) are up for repeats for the day. The time of day at which you receive these emails can be configured in your 
                    organization's profile settings.
                    <br />
                    <br />
                    The same daily repeat entries list can also be viewed from the Repeat website for the current day as well for any other specific day.
                    <br />
                    <br />
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <br />
                <b>Repeat notifications sent automatically</b>
                <p style="font-size:12px">
                    As repeat notifications come up the Repeat system can automatically send them out to the subscribers without requiring any manual intervention from you.
                    <br />
                    <br />
                    Alternatively, this setting can be disabled allowing you to manually send out each repeat notification for the day. The daily email will remind you
                    of which repeats are due for the day, at which point you can login to the Repeat website and manually send them out one by one.
                    <br />
                    <br />
                    Enabling or disabling the automatic sending of notifications can be configiured in your organization's profile settings.
                    <br />
                    <br />
                    <br />
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Reports for forecasting</b>
                <p style="font-size:12px">
                    Reports can be viewed and downloaded to see how many upcoming repeat entries are due for this week, month, year etc. This will allow you to forecast
                    the number of sales you can expect going forward i.e. how many customers will have upcoming repeats in the near future.
                    <br />
                    <br />
                    For example, it would allow a barber shop or salon to forecast the number of people that are up for a haircut this week or month. Furthermore, it allows
                    you as the business owner to be proactive in terms of notifying and checking in with customers to confirm their appointments.
                    <br />
                    <br />
                    Furthermore the Repeat system allows you see which customers have missed repeats (appointments) and for how long they haven't been back to your business.
                    Once again enabling you as the business owner be proactive by contacting the customers and asking them why they haven't been back and if there is anything
                    they're unhappy with i.e. as opposed to you only realising this months later when it becomes to late to try and retain the customer.
                    <br />
                </p>
            </div>
        </td>
    </tr>
</table>
<br />

@*Services*@
<a id="services"></a>
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-user-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="#features" style="float:left">Features</a>
            <a href="#services" style="float:right">Services</a>
        </li>
    </ul>
</nav>
<hr />
<div class="description">
    <i>
        We offer the following services to help you <b>promote your business/organization and develop custom solutions to meet your business needs.</b>.
    </i>
</div>
<br />
<h3 class="description-title">Services</h3>
<table>
    <tr>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Marketing Material</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Custom Development</b>
            </div>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Developer Integration</b>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/poster-red-mountain.png" style="width:50%; height:50%"/>
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/idea2.png" style="width:50%; height:50%"/>
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/integration.png" style="width:50%; height:50%"/>
            </div>
        </td>
@*        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/integration.png" style="width:50%; height:50%"/>
            </div>
        </td>*@
    </tr>
    <tr>
        <td>            
            <div class="description">
                <b>Marketing services</b>
                <p style="font-size:12px">
                    We offer services to create posters and pamphlets with your company logo describing how to subscribe to notifications from your company.
                    <br />
                    <br />
                    e.g. Blue Coffee occasionaly sends out notifications about specials, events and promotions. To subscriber SMS <b>#BLUECOFFEE</b> to <b>@figlutPhoneNumber</b>
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <br />
                <br />
                <b>Custom software development services</b>
                <p style="font-size:12px">
                    Should you have custom business requirements related to communicating with your customers and/or promoting your business, we can help with that.
                    <br />
                    <br />
                    We offer software development and consulting services to develop custom apps that fit your specific business needs.
                    We can then integrate these external apps into the Repeat system for SMS notifications.
                    <br />
                    <br />
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Integrate your existing system into Figlut</b>
                <p style="font-size:12px">
                    The Repeat system provides a REST Web Service API (Application Programming Interface) to allow you to integrate your existing software into the Repeat system.
                    Should you not have your own software developers to handle the integration, we can offer our own software development services to you.
                    <br />
                    <br />
                    e.g. <b>you could send SMS notifications directly from your current system via Repeat</b> and/or manage Repeat subscriptions directly from your own system.
                </p>
            </div>
        </td>
    </tr>
</table>
<br />
<br />


@*Contact*@
<a id="contact"></a>
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-address-book-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="#services" style="float:left">Services</a>
            <a href="#contact" style="float:right">Contact</a>
        </li>
    </ul>
</nav>
<hr />
<div class="description">
    <i>
        We would love to see your business/organization flourish and get you connected to your customers!
        <b>Give us a shout</b> so we can help you get started with marketing your organization!
    </i>
</div>
<br />
<h3 class="description-title">Contact Us</h3>
<table>
    <tr>
        <td style="width:33%">
            <b class="description-step">SMS</b>
        </td>
        <td style="width:33%">
            <div class="description">
                <b class="description-step">Email</b>
            </div>
        </td>
        <td style="width:33%">
            <b class="description-step">Call</b>
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/sms2.png" style="width:50%; height:50%"/>
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/send-message3.png" style="width:50%; height:50%"/>
            </div>
        </td>
        <td style="width:33%">
            <div class="photobanner-contact">
                <img src="~/Images/BlueIcons/smartphone.png" style="width:50%; height:50%"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>            
            <div class="description">
                <br />
                SMS <b>#repeat</b> and your message to <b>@figlutPhoneNumber</b>
                <p style="font-size:12px">
                    e.g. Hi <b>#repeat</b> team. How do I get started with marketing my business?
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Drop us an email</b>
                <p style="font-size:12px">
                    Send an email to the Figlut Repeat team: <a href="mailto:@Html.Raw(figlutGeneralEmailAddress)">@Html.Raw(figlutGeneralEmailAddress)</a>
                </p>
            </div>
        </td>
        <td>
            <div class="description">
                <b>Give us a call</b>
                <p style="font-size:12px">
                    Speak to an executive: 
                    <br />
                    <b>+27 (83) 395 8283</b>
                </p>
            </div>
        </td>
    </tr>
</table>
<br />
<br />
<br />
<br />
<br />

@*About*@
<a id="about"></a>
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-balloon-2-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="#contact" style="float:left">Contact</a>
            <a href="#about" style="float:right">About</a>
        </li>
    </ul>
</nav>
<hr />
<div class="description">
    <i>
        The Repeat software system is a product developed by Figlut, a company that aims to help small and medium sized 
        businesses and organizations to promote themselves and <b>most importantly strengthen their customer retention</b>.
    </i>
</div>
<br />
<h3 class="description-title">About</h3>
<div class="centerAbout" style="width:50%; left: 50%">
    <i>
        <b>Customer retention</b> has traditionally ranked low as a business priority: as recently as 2012, marketers ranked “driving sales” as their highest concern while “engaging customers” and “building customer loyalty” tied for last place. This is despite clear evidence that existing customers are more valuable than new customers.
        This trend is beneficial: according to a study by Bain & Company, increasing customer retention rates by just 5% increases profits by 25% to 95%. What’s more, 82% of companies agree that retention is cheaper to execute than acquisition. 
        In order to build a relationship with customers we first need to increase the number of interactions with them. Some quick wins such as running competitions and once off promotions create opportunities for customers to engage and ultimately repurchase. 
        Do not mistake a repurchase as a relationship with customer. A relationship takes time to nurture. Customer retention is the first step to customer loyalty but there is still a lot of work to be done. 
    </i>
    <br />
    <br />
    <a href="~/Files/Figlut-The-Value-of-Customer-Retention-and-Customer-Loyalty.pdf" target="_blank">Download</a> and read our full White paper on <i>The Value of Customer Retention and Customer Loyalty</i>
</div>
<br />
<br />

@section scripts {
    <script type="text/javascript">
        var $root = $('html, body');
        $('a').click(function () {
            $root.animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
    </script>
}