@model Figlut.Repeat.Web.Site.Models.FilterModel<ProcessorModel>

@using Figlut.Repeat.Web.Site.Models;

@{
    ViewBag.Title = "Processors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-laptop-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">Processors</a>
        </li>
    </ul>
</nav>
<hr />
@using (Ajax.BeginForm("Index", "Processor", new AjaxOptions{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridPartial",
    HttpMethod = "POST"},
    new { @id = "frmDetails" } ))
{
    <div id="gridPartial">
        @{
            Html.RenderPartial("_ProcessorGrid", Model);
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).keypress(function (event) {
            if (event.which == 13) {
                //$("#btnSearch").click();
                postProcessors();
                return false; //Cancel the default form's post behaviour when enter key is pressed i.e. if this is not set (or set to true) then the form will be posted twice when pressing the enter key.
            }
        });
        loadDialog("#divConfirmationDialog", "#dlgConfirmation", "ConfirmDeleteDialog", "Processor", 'identifier', '@Guid.Empty');
        loadDialog("#divEditProcessor", "#dlgEditProcessor", "EditDialog", "Processor", 'processorId', '@null');
    });
</script>