@model Figlut.Spread.Web.Site.Models.FilterModel<CountryModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Spread.Web.Site.Configuration;
@using Figlut.Spread.Web.Site;
@using Figlut.Spread.Web.Site.Models;

@{
    ViewBag.Title = "Country Public Holidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-calendar-icon32.png" style="float:right; margin-right:1%; margin-left:1%" />
            <a href="" style="float:right">Country Public Holidays</a>
        </li>
    </ul>
</nav>
<hr />
@using (Ajax.BeginForm("Index", "Country", new AjaxOptions{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridPartial",
    HttpMethod = "POST"},
    new { @id = "frmDetails" }))
{
    <div id="gridPartial">
        @{
            Html.RenderPartial("_CountryGrid", Model);
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).keypress(function (event) {
            if (event.which == 13) {
                //$("#btnSearch").click();
                postCountries();
            }
        });
        loadDialog("#divConfirmationDialog", "#dlgConfirmation", "ConfirmDeleteDialog", "Country", 'identifier', '@Guid.Empty');
        loadDialog("#divEditCountry", "#dlgEditCountry", "EditDialog", "Country", 'countryId', '@null');
        loadDialog("#divCreateCountry", "#dlgCreateCountry", "CreateDialog", "Country", 'countryId', '@null');
    });
</script>