@model Figlut.Spread.Web.Site.Models.FilterModel<SubscriberSubscriptionModel>

@using Figlut.Server.Toolkit.Data;
@using Figlut.Spread.Web.Site.Configuration;
@using Figlut.Spread.Web.Site;
@using Figlut.Spread.Web.Site.Models;

@{
    ViewBag.Title = "Subscriber Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <ul id="menu">
        <li>
            <img src="~/Images/Icons/red-balloon-plus-icon32.png" style="float:right; margin-right:1%; margin-left:1%"/>
            <a href="" style="float:right">@Html.Raw(string.Format("Subscriber Subscriptions: {0}", Model.ParentCaption))</a>
        </li>
    </ul>
</nav>
<hr />
@using (Ajax.BeginForm("Index", "SubscriberSubscription", new AjaxOptions{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridPartial",
    HttpMethod = "POST"},
    new { @id = "frmDetails" } ))
{
    <div id="gridPartial">
        @{
            Html.RenderPartial("_SubscriberSubscriptionGrid", Model);
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).keypress(function (event) {
            if (event.which == 13) {
                //$("#btnSearch").click();
                postSubscriberSubscriptions();
            }
        });
        loadDialog("#divConfirmationDialog", "#dlgConfirmation", "ConfirmDeleteDialog", "SubscriberSubscription", 'identifier', '@Guid.Empty');
        loadDialog("#divEditSubscriberSubscription", "#dlgEditSubscriberSubscription", "EditDialog", "SubscriberSubscription", 'subscriptionId', '@null');
    });
</script>